<div id="<%= dom_id document %>">
  <p>
    <strong>Usuário:</strong>
    <%= document.user_id %> -
    <a class="header-logout">
     <%= current_user.email %> </a>
  </p>

  <p>
    <strong>Arquivo:</strong>
    <%= link_to document.file.filename, document.file if document.file.attached? %>
  </p>

  <p>
    <strong>Processado:</strong>
    <%= document.processed %>
  </p>

</div>
