<p style="color: green"><%= notice %></p>

<%= render @document %>

<div>
  <%= link_to "Editar", edit_document_path(@document) %> |
  <%= link_to "Voltar", documents_path %> |
  <%= link_to "Relatório", report_document_path %>

  
  <%= button_to "Exportar Excel", export_excel_document_path(@document), method: :get %>
  <%= button_to "Excluir", @document, method: :delete %>
</div>
